*{
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
html{
    margin: 0;
    padding:0;
}
nav{
    z-index: 10000;
}
.hero{
    background-color: #dbecfd;
    background-image: url(/static/images/bg-blue-light.png);
    background-size: cover;
}
img{
    border: 0
}
.min-height{
    min-height: 100vh;
}
/*-- colors --*/
input:not([type]):focus:not([readonly]),input[type=text]:not(.browser-default):focus:not([readonly]),input[type=password]:not(.browser-default):focus:not([readonly]),input[type=email]:not(.browser-default):focus:not([readonly]),input[type=url]:not(.browser-default):focus:not([readonly]),input[type=time]:not(.browser-default):focus:not([readonly]),input[type=date]:not(.browser-default):focus:not([readonly]),input[type=datetime]:not(.browser-default):focus:not([readonly]),input[type=datetime-local]:not(.browser-default):focus:not([readonly]),input[type=tel]:not(.browser-default):focus:not([readonly]),input[type=number]:not(.browser-default):focus:not([readonly]),input[type=search]:not(.browser-default):focus:not([readonly]),textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1565C0;
    -webkit-box-shadow: 0 1px 0 0 #1565C0;
    box-shadow: 0 1px 0 0 #1565C0
}

input:not([type]):focus:not([readonly])+label,input[type=text]:not(.browser-default):focus:not([readonly])+label,input[type=password]:not(.browser-default):focus:not([readonly])+label,input[type=email]:not(.browser-default):focus:not([readonly])+label,input[type=url]:not(.browser-default):focus:not([readonly])+label,input[type=time]:not(.browser-default):focus:not([readonly])+label,input[type=date]:not(.browser-default):focus:not([readonly])+label,input[type=datetime]:not(.browser-default):focus:not([readonly])+label,input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,input[type=tel]:not(.browser-default):focus:not([readonly])+label,input[type=number]:not(.browser-default):focus:not([readonly])+label,input[type=search]:not(.browser-default):focus:not([readonly])+label,textarea.materialize-textarea:focus:not([readonly])+label {
    color: #1565C0
}
a {
    color: #1565C0;
}
.grey-bg{
    background-color: #f5f5f5;
}
/*-- notes --*/
.note-light {
    background-color: #e5e9ec;
    padding: 8px 10px;
    border: 1px solid #c9d1da;
    border-radius: 5px;
}
.note-light.yellow-bg {
    background-color: #ffefc4;
    border: 1px solid #afaba0;
}
/*-- Pages --*/
.this {
    -webkit-font-smoothing: antialiased;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
.this h1.title {
    color: rgba(0,0,0,0.88);
    font-weight: 600;
    margin-left: 3.5rem;
    margin-top: 1rem;
}

.this .pages {
    padding: 0;
    margin: 0 3rem;
}

.this .page {
    margin: 0 0 .5rem 0;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    cursor: pointer;
}

.this .page:hover {
    border-color: rgba(0,0,0,0.5);
}

.this .page:focus {
    border-color: rgb(0,0,0);
}

.this .page:active {
    border-color: rgb(0,0,0);
}

.this .page .content {
    padding: 1rem 0 0 1.25rem;
}

.this .page h1, .this .page h2, .this .page h3, .this .page h4, .this .page h5 {
    margin: 0;
    font-weight: 500;
    color: rgba(0,0,0,0.82);
}

.this .page p {
    margin: .75rem 0 0 0;
    color: rgba(0,0,0,0.7);
}

.this .page .page-bottom {
    margin: .7rem 0 0 0;
    padding: .5rem .75rem .5rem 1.25rem;
    border-radius: 0 0 5px 5px;
    font-size: .9rem;
    color: rgba(0,0,0,0.7);
    background-color: rgba(240, 244, 248, 0.8);
    vertical-align: middle;
}

.this .page .pfp {
    display: inline-block;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border-radius: 5px;
    vertical-align: middle;
}

.this .page .pfp-text {
    margin-left: 2px;
    line-height: 28px;
    vertical-align: middle;
    font-weight: 500;
}

.this .user-link{
    display: inline;
    line-height: inherit;
    color: rgba(0,0,0,0.7); !important;
}

.this .pfp-date {
    float: right;
    vertical-align: middle;
    font-size: .8rem;
    color: rgba(0,0,0,0.65);
    margin: 0;
}

.this .tag {
    display: inline-block;
    background-color: rgb(234, 241, 253);
    color: rgba(0,0,0,0.73);
    padding: 3px 11px;
    border: 1px solid rgb(210, 223, 244);
    border-radius: 3px;
    margin: 0 0 0 4px;
    font-size: .9rem;
    vertical-align: middle;
    font-weight: 500;
}

.this .tag-area {
    margin: .75rem 0 1.25rem 0;
}

.this .user-info-area {
    margin: 1.4rem 0;
}


.this .user-info-area a {
    text-decoration: none;
    color: inherit;
}

.this .pfp {
    width: 42px;
    height: 42px;
    margin-right: 3px;
    vertical-align: middle;
    border-radius: 4px;
}
/*-- flex grow --*/
.grow-container{
    display: flex;
    resize: none;
}
.grow{
    align-items: center;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}
/*-- titles --*/
.form-title{
    margin:2rem auto 2rem auto;
}

.main-hero {
    height: calc(7rem + 64px);
    background-color: #2175F4;
    background-image: url(/static/images/bg-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-hero-text {
    display: block;
    line-height: 6.5rem;
    vertical-align: middle;
    margin: auto auto auto 3.5rem;
    position: absolute;
    color: #FFFFFF;
    font-size: 2.75rem;
    font-weight: 600;
    text-shadow: -1px 1px 8px rgba(0,0,0,0.6);
    /*font-family:monospace;*/
}
/*-- forms --*/
.form-link{
    vertical-align: middle
/*    margin:.5rem 0 0 0;*/
}
/*-- shadows --*/
.z-depth-0{
    box-shadow: none;
}
/*-- paddings --*/
.nav-img{
    padding:16px;
}
.container2{
    margin:0 1.5rem;
}
.pt{
    margin-top:.25rem;
}
.pt-2{
    margin-top:.5rem;
}
.pt-3{
    margin-top:.75rem;
}
/* -- User pages -- */
.pfp.large{
    width: 75px;
    height: 75px;
    margin-right: .5rem
}
.user-page{
    
}
.user-page .name-area{
    vertical-align: middle;
    display: inline-block;
}
.user-page .name{
    display: inline-block;
    font-size: 1.64rem;
    font-weight: 600;
    line-height: 0;
    margin:.5rem 0;
}
.user-page .username{
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color:rgba(0,0,0,0.6);
    line-height: 0;
    margin:.5rem 0;
}






/* --- Media stuff ---*/
@media screen and (max-width: 1000px) {
    .this .pages {
        margin:0 2.5rem;
    }
}

@media screen and (max-width: 850px) {
    .this .pages {
        margin:0 2rem;
    }
}

@media screen and (max-width: 700px) {
    .this .pages {
        margin:0 1rem;
    }
}
@media screen and (max-width: 600px) {
    .nav-img{
        padding:12px;
    }
}
@media screen and (max-width: 550px) {
    .this .pages {
        margin:0;
    }
}

@media screen and (max-width: 479px) {

}